body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header{
    background-color: #2c3e50;
}

section#jumbotron,
section#about{
    background-color: #1abc9c;
}

img#avatar{
    width: 50%;
}

div.separator{
    height: 3px;
    width: 15%;
}

div.separator-white{
    background-color: white;
}

div.separator-black{
    background-color: black;
}

section#portfolio,
section#contact-me{
    color: black;
}

section#portfolio img{
    width: 100%;
}

div#form button{
    background-color: #1abc9c;
    color: white;
}

section#footer-top{
    background-color: #3a546d;
}

section#footer-bottom{
    background-color: #2c3e50;
}
